
# For jenkins to github (GitHub Enterprise)
# export GITHUB_ENTERPRISE_SERVER_URL="https://git.examlpe.com/"
# export GITHUB_REPOSITORY=""
# export GITHUB_TOKEN=""

# For github actions to github (GitHub Enterprise)
export GITHUB_ENTERPRISE_SERVER_URL="https://git.examlpe.com/"
export GITHUB_ENV="./tests/github_env"
export GITHUB_REPOSITORY=""
export GITHUB_TOKEN=""

# For github actions to github (github.com only)
unset GITHUB_ENTERPRISE_SERVER_URL
export GITHUB_ENV="./tests/github_env"
export GITHUB_REPOSITORY=""
export GITHUB_TOKEN=""

source .env